<table>
    <tr>
        <td>ID </td>
        <td>Nama </td>
        <td>Umur </td>
        <td>Jenis Kelamin </td>
        <td>Alamat </td>
        <td>Action </td>
    </tr>
    <% @authors.each do |penulis| %>
    <tr>
        <td><%= penulis.id %> </td>
        <td><%= penulis.name %> </td>
        <td><%= penulis.age %> </td>
        <td><%= penulis.gender %> </td>
        <td><%= penulis.address %> </td>
        <td><%= link_to 'Detail', author_path(penulis) %>
    </tr>
    <% end %>
</table>